<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @dato.nombre %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @dato.documento %>
</p>

<p>
  <strong>Numdocumento:</strong>
  <%= @dato.numdocumento %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @dato.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @dato.correo %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @dato.pais %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @dato.usuario %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @dato.usuario %>
</p>

<%= link_to 'Edit', edit_dato_path(@dato) %> |
<%= link_to 'Back', datos_path %>
